# Database settings
DATABASE_URL=
DATABASE_SYNCHRONIZE=false
DATABASE_SSL=false

# Salt for password hashing
SALT_ROUNDS=

# JWT settings
JWT_SECRET=
JWT_EXPIRES_IN=

# Stripe settings
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRODUCT_ID=